.min-vh-100 {
    min-height: 100vh!important;
}
.txt-tit-log{
    margin-top: 11%;
    font-size: 2.5em;
}
@media (max-width: 1024px) {
    .txt-tit-log {
        font-size: 1.7em;
    }
}
@media (max-width: 600px) {
    .txt-tit-log {
        font-size: 1em;
    }
}
@media (max-width: 640px) {
    .txt-tit-log {
        font-size: 1.7em;
    }
}
@media (max-width: 653px) {
    .txt-tit-log {
        font-size: .8em;
    }
}
